charset "UTF-8";

html{
  font-size:100%;
  color:black;
}

ul {
  list-style: none;
}

header{
  height:65px;
  border-bottom:1px solid gray;
}
.header-left{
  float:left;
}
.header-right{
  float:right;
}
